# Part 1. Sentiment Analysis

In [1]:
myDict = {'love': 0.9, 'awesome': 0.8, 'cool': 0.6, 'good': 0.4, 'okay': 0.1, 'bad': -0.5, 'terrible': -0.6, 'disgusting': -0.7, 'hate': -0.9}
print(myDict)

{'love': 0.9, 'awesome': 0.8, 'cool': 0.6, 'good': 0.4, 'okay': 0.1, 'bad': -0.5, 'terrible': -0.6, 'disgusting': -0.7, 'hate': -0.9}

In [2]:
comment = "I love this class! Analyzing data is so cool"
print(comment)

I love this class! Analyzing data is so cool

In [3]:
wordlist = comment.split()
print(wordlist)

['I', 'love', 'this', 'class!', 'Analyzing', 'data', 'is', 'so', 'cool']

In [4]:
myDict = {'love': 0.9, 'awesome': 0.8, 'cool': 0.6, 'good': 0.4, 'okay': 0.1, 'bad': -0.5, 'terrible': -0.6, 'disgusting': -0.7, 'hate': -0.9}
words = comment.split()
total = 0
for i in range(0,9):
  key = words[i]
  if key in myDict:
    total = total + myDict.get(key)
 
print(total)

division = 0
division = total/len(words)
print(division)

# Now use the code for four comments
# Comment 1 
comment = "Their new shake is disgusting - I thought it was okay at first but then it left a terrible taste in my mouth"

words = comment.split()
total = 0
for i in range(0,9):
  key = words[i]
  if key in myDict:
  #if word in counts:
    total = total + myDict.get(key)
    #counts[word] += 1

print(total)

division = 0
division = total/len(words)
print(division)


# Comment 2

comment = "Spiderman 2 was awesome for a sequel. I love the character development in it"

words = comment.split()
total = 0
for i in range(0,9):
  key = words[i]
  if key in myDict:
  #if word in counts:
    total = total + myDict.get(key)
    #counts[word] += 1

print(total)

division = 0
division = total/len(words)
print(division)

# Comment 3
comment = "If there is one thing I hate more than the bad puns in this movie, it is the terrible acting"


words = comment.split()
total = 0
for i in range(0,9):
  key = words[i]
  if key in myDict:
  #if word in counts:
    total = total + myDict.get(key)
    #counts[word] += 1

print(total)

division = 0
division = total/len(words)
print('%.3f'%division)

# Comment 4
comment = "ah, that was an okay movie, it wasnâ€™t groundbreaking, but I had a good time"



words = comment.split()
total = 0
for i in range(0,9):
  key = words[i]
  if key in myDict:
  #if word in counts:
    total = total + myDict.get(key)
    #counts[word] += 1

print(total)

division = 0
division = total/len(words)
print('%.3f'%division)

1.5
0.16666666666666666
-0.7
-0.03043478260869565
1.7000000000000002
0.12142857142857144
-0.9
-0.045
0.1
0.007

### Part 2. Titanic Dataset

In [5]:
import pandas as pd
import numpy as np

# I use method b to calculate the number of people by hand
# Making separate data frames with the subsets you need
# and calculating how many rows are present

#Reading data from a csv file
titanic_df = pd.read_csv('titanic_individuals.csv')
print(titanic_df)

    PClass    Age  SexCode  Survived
0      1st  29.00        1         1
1      1st   2.00        1         0
2      1st  30.00        0         0
3      1st  25.00        1         0
4      1st   0.92        0         1
..     ...    ...      ...       ...
751    3rd  27.00        0         0
752    3rd  26.00        0         0
753    3rd  22.00        0         0
754    3rd  24.00        0         0
755    3rd  29.00        0         0

[756 rows x 4 columns]

In [6]:
children_df = titanic_df[((titanic_df['Age'] < 18) & (titanic_df['Survived'] == 0))]
print(children_df)

grouped = children_df.groupby('PClass')
print("Survived", grouped['Survived'].count())

    PClass    Age  SexCode  Survived
1      1st   2.00        1         0
300    2nd  16.00        0         0
411    2nd  14.00        0         0
439    3rd  13.00        0         0
440    3rd  16.00        0         0
457    3rd  17.00        0         0
462    3rd   6.00        1         0
463    3rd   2.00        1         0
466    3rd   9.00        1         0
468    3rd  11.00        1         0
469    3rd   4.00        0         0
478    3rd   5.00        0         0
479    3rd   9.00        0         0
481    3rd  13.00        0         0
486    3rd  17.00        1         0
509    3rd   6.00        0         0
510    3rd   9.00        1         0
527    3rd  17.00        0         0
572    3rd   0.33        0         0
578    3rd  17.00        0         0
603    3rd  16.00        0         0
609    3rd   9.00        1         0
611    3rd  16.00        0         0
622    3rd  14.00        0         0
623    3rd  16.00        1         0
624    3rd   9.00        0         0
625    3rd  10.00        1         0
626    3rd   6.00        0         0
627    3rd  11.00        0         0
635    3rd  17.00        1         0
650    3rd   2.00        1         0
660    3rd  17.00        0         0
678    3rd  17.00        0         0
700    3rd   1.50        1         0
723    3rd   1.50        1         0
730    3rd  15.00        0         0
734    3rd  10.00        1         0
740    3rd  14.00        1         0
Survived PClass
1st     1
2nd     2
3rd    35
Name: Survived, dtype: int64

In [7]:
children_df = titanic_df[((titanic_df['Age'] < 18) & (titanic_df['Survived'] == 1))]
print(children_df)

grouped = children_df.groupby('PClass')
print("Survived", grouped['Survived'].count())

    PClass    Age  SexCode  Survived
4      1st   0.92        0         1
40     1st  14.00        1         1
41     1st  11.00        0         1
63     1st  17.00        1         1
64     1st   4.00        0         1
109    1st  16.00        1         1
127    1st  16.00        1         1
131    1st  15.00        1         1
154    1st  17.00        1         1
167    1st  13.00        0         1
184    1st   6.00        0         1
202    1st  17.00        0         1
241    2nd   4.00        1         1
242    2nd   1.00        0         1
243    2nd  12.00        1         1
249    2nd  15.00        1         1
259    2nd   0.83        0         1
273    2nd   8.00        1         1
279    2nd   8.00        0         1
290    2nd   8.00        0         1
311    2nd   1.00        0         1
314    2nd   6.00        1         1
318    2nd   7.00        1         1
336    2nd  17.00        1         1
347    2nd   1.00        1         1
348    2nd   3.00        1         1
352    2nd   2.00        0         1
360    2nd  13.00        1         1
369    2nd   2.00        0         1
371    2nd   3.00        0         1
388    2nd   2.00        1         1
389    2nd   8.00        1         1
395    2nd   0.80        0         1
397    2nd   3.00        0         1
423    2nd  12.00        1         1
429    2nd   4.00        1         1
430    2nd   2.00        0         1
442    3rd  16.00        1         1
452    3rd   0.83        0         1
464    3rd  17.00        1         1
480    3rd   3.00        0         1
483    3rd   5.00        1         1
492    3rd   3.00        1         1
496    3rd  15.00        1         1
535    3rd  16.00        1         1
559    3rd   3.00        0         1
560    3rd   9.00        0         1
564    3rd  17.00        1         1
581    3rd   1.00        0         1
582    3rd   0.17        1         1
606    3rd   5.00        1         1
615    3rd  16.00        1         1
617    3rd   9.00        0         1
668    3rd   1.00        1         1
670    3rd   4.00        0         1
684    3rd   4.00        1         1
697    3rd   4.00        1         1
750    3rd  15.00        1         1
Survived PClass
1st    12
2nd    25
3rd    21
Name: Survived, dtype: int64

In [8]:
adult_df = titanic_df[((titanic_df['Age'] > 18) & (titanic_df['Survived'] == 0))]
print(adult_df)

grouped = adult_df.groupby('PClass')
print("Survived", grouped['Survived'].count())

    PClass   Age  SexCode  Survived
2      1st  30.0        0         0
3      1st  25.0        1         0
7      1st  39.0        0         0
9      1st  71.0        0         0
10     1st  47.0        0         0
..     ...   ...      ...       ...
751    3rd  27.0        0         0
752    3rd  26.0        0         0
753    3rd  22.0        0         0
754    3rd  24.0        0         0
755    3rd  29.0        0         0

[386 rows x 4 columns]
Survived PClass
1st     85
2nd    108
3rd    193
Name: Survived, dtype: int64

In [9]:
children_df = titanic_df[((titanic_df['Age'] < 18) & (titanic_df['Survived'] == 0))]
print(children_df)

grouped = children_df.groupby('PClass')
print("Survived", grouped['Survived'].count())

    PClass    Age  SexCode  Survived
1      1st   2.00        1         0
300    2nd  16.00        0         0
411    2nd  14.00        0         0
439    3rd  13.00        0         0
440    3rd  16.00        0         0
457    3rd  17.00        0         0
462    3rd   6.00        1         0
463    3rd   2.00        1         0
466    3rd   9.00        1         0
468    3rd  11.00        1         0
469    3rd   4.00        0         0
478    3rd   5.00        0         0
479    3rd   9.00        0         0
481    3rd  13.00        0         0
486    3rd  17.00        1         0
509    3rd   6.00        0         0
510    3rd   9.00        1         0
527    3rd  17.00        0         0
572    3rd   0.33        0         0
578    3rd  17.00        0         0
603    3rd  16.00        0         0
609    3rd   9.00        1         0
611    3rd  16.00        0         0
622    3rd  14.00        0         0
623    3rd  16.00        1         0
624    3rd   9.00        0         0
625    3rd  10.00        1         0
626    3rd   6.00        0         0
627    3rd  11.00        0         0
635    3rd  17.00        1         0
650    3rd   2.00        1         0
660    3rd  17.00        0         0
678    3rd  17.00        0         0
700    3rd   1.50        1         0
723    3rd   1.50        1         0
730    3rd  15.00        0         0
734    3rd  10.00        1         0
740    3rd  14.00        1         0
Survived PClass
1st     1
2nd     2
3rd    35
Name: Survived, dtype: int64